.home {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url('../img/breno-assis-r3WAWU5Fi5Q-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
}

.small-text {
    font-size: 10pt;
}

.fade {
    opacity: 0.5;
}

.activesection {
    border-bottom: 5px solid #007bff;
}

.error {
    color: red;
}

.site-section {
    padding: 0;
}

.site-footer {
    background: black;
}

.btn {
    padding: 0.65rem 0.75rem
}

.form-search .btn[type="submit"] {
    height: auto;
}


/* old blue #364e68 new blue #163571 nice shade blue-ish rgb(79, 79, 176)*/

.rouund {
    border-radius: 25px;
    width: 120px;
    margin: 10px;
}

.head {
    font-size: 64px;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-variant: normal;
    color: white;
    line-height: 60px;
}

.site-blocks-cover.inner-page-cover,
.site-blocks-cover.inner-page-cover .row {
    min-height: 400px;
    background-color: rgb(79, 79, 176);
}