.home {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url('../img/breno-assis-r3WAWU5Fi5Q-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
  }
  
  .small-text {
    font-size: 10pt;
  }
  
  .fade {
    opacity: 0.5;
  }
  
  .activesection {
    border-bottom: 5px solid #007bff;
  }
  
  .error {
    color: red;
  }
  